.party_form form {
    display: flex;
    flex-direction: column;
}

.party_form button {
    margin: 10px;
    width: 100px;
    background-color: black;
    font-weight: 700;
    border: solid;
    border-color: #7a7a74;
    border-width: 3px;
    border-radius: 10px;
}

.party_form button:hover {
    background-color: #f4f4f4;
    border-color: #222222;
    color: black;
}

.party_form p
{
    font-size: 50px;
    text-align: center;
    font-weight: 1000;
    font-family: 'Caveat', cursive;
}